.App{
  width: 90%;
  margin: 0px auto;
  padding: 20px;
}

.Header{
  height: 150px;
  background-color: #6aa84f;
  margin-bottom: 20px;
}

.Navigation{
  height: 410px;
  width: 20%;
  background-color: #6fa8dc;
  display: inline-block;
  margin-right: 10%;
}

.Main{
  height: 410px;
  width: 70%;
  background-color: #e06666;
  display: inline-block;
}

.SubContents{
  height: 20%;
  width: 90%;
  margin: 20px auto;
  background-color: #ffd966;
}

.Advertisement{
  height: 20%;
  width: 90%;
  background-color: #b4a7d6;
  margin: 20px auto;
}